<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
	<configSections>
		<!--<section name="unity"
			type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection
			,Microsoft.Practices.Unity.Configuration" />-->
    </configSections>
    
	<connectionStrings>
        <add name="Ch9.WPF.Properties.Settings.Ch9ConnectionString" 
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Ch9.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>

	<!--<unity xmlns="http://scheme.microsoft.com/practices/2010/unity">
		<typeAliases>
			<typeAlias alias="ITaskService"
					   type="Ch9.WPF.Domain.ITaskService, Domain" />
			<typeAlias alias="TaskServiceAdo"
					   type="Ch9.WPF.Infra.TaskServiceAdo, DomainImpl" />
			<typeAlias alias="TaskListWindowViewModel"
					   type="Ch9.WPF.ViewModel.TaskListWindowViewModel, ViewModel" />
			<typeAlias alias="TaskListWindow"
					   type="Ch9.WPF.TaskListWindow, Window" />
		</typeAliases>
		<container>
			<register type="ITaskService" mapTo="TaskServiceAdo" />
		</container>
	</unity>-->
	
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>